.footer {
  background: #000;
  color: white;

  padding-top: 80px;
  padding-bottom: 30px;

  animation: footerFade 1s ease;
}

@keyframes footerFade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-container {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 60px;
}

/* LOGO */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;

  margin-bottom: 30px;

  transition: all 0.3s ease;
}

.footer-logo:hover {
  transform: scale(1.03);
}

/* DESCRIPTION */
.footer-description {
  color: #9ca3af;
  line-height: 1.8;

  max-width: 420px;

  margin-bottom: 30px;
}

.footer-contact p {
  color: #9ca3af;
  margin-bottom: 14px;
}

/* LINKS */
.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links h3 {
  color: #666;
  margin-bottom: 20px;

  letter-spacing: 3px;
  font-size: 14px;
}

.footer-links a {
  color: #d1d5db;
  text-decoration: none;

  margin-bottom: 16px;

  position: relative;
  width: fit-content;
}

.footer-links a::after {
  content: "";

  position: absolute;

  width: 0%;
  height: 2px;

  background: #facc15;

  left: 0;
  bottom: -4px;

  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-links a:hover {
  color: #facc15;
  transform: translateX(4px);
}

/* BOTTOM */
.footer-bottom {
  width: 90%;
  margin: auto;

  margin-top: 60px;
  padding-top: 30px;

  border-top: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  color: #777;
}

.footer-bottom-links {
  display: flex;
  gap: 20px;
}

.footer-bottom-links a {
  color: #777;
  text-decoration: none;
}

.footer-bottom-links a:hover {
  color: #facc15;
  transform: translateY(-2px);
}

/* RESPONSIVE */
@media screen and (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
